main {
    background-color: #1E1F29;
    border-radius: 10px;
    padding: 48px;
}

h1 {
    color: #FAFAFA;
    font-size: 36px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    margin: 0 0 32px;
}

input,
select,
textarea {
    color: #FAFAFA;
    background-color: #2E2D3D;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    font-family: sans-serif;
    padding: 27px 48px 12px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

label {
    color: #AFB2BF;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    position: absolute;
    top: 12px;
    left: 48px;
}

button {
    color: #FAFAFA;
    background-color: #6C38CC;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;

}

.field {
    margin-bottom: 16px;
    position: relative;
}

.field img {
    position: absolute;
    top: 17px;
    left: 16px;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #66687f;
    font-size: 16px;
}

/* input:invalid {
    background-color: red;
}

input:valid {
    background-color: green;
} */

/* input[type="email"] {
    background-color: red;
} */